.main {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: #043869;
  color: white;
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
}

.content {
  background-color: #f0f8ff;
  padding: 15px;
  font-size: 1rem;
  color: #000;
  border-radius: 0 0 20px 20px;
}

.author {
  font-style: italic;
  margin-top: 10px;
}

.terms .header {
  background-color: #ffffff;
  color: #333;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.terms .content {
  background-color: #fff;
  padding: 15px;
  font-size: 1rem;
  color: #333;
}

.terms a {
  color: #005baa;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Font Sizes */

/* For screens smaller than 1200px */
@media (max-width: 1200px) {
  .header {
    font-size: 22px; /* Smaller font size for header */
  }

  .content {
    font-size: 0.9rem; /* Smaller font size for content */
  }

  .terms .header {
    font-size: 1.1rem; /* Smaller font size for terms header */
  }

  .terms .content {
    font-size: 0.9rem; /* Smaller font size for terms content */
  }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    font-size: 12px !important; /* Even smaller font size for header */
    padding: 15px 20px; /* Adjust padding for smaller screens */
  }

  .content {
    font-size: 0.8rem; /* Even smaller font size for content */
  }

  .terms .header {
    font-size: 1rem; /* Even smaller font size for terms header */
  }

  .terms .content {
    font-size: 0.8rem; /* Even smaller font size for terms content */
  }
}