.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  padding: 2rem 0;
}

.article {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.header {
  padding-left: 2rem;
  padding-top: 2rem;
 

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.section,
.ctaSection,
.conclusion {
  padding: 2rem;
  border-bottom: 1px solid #eee;

  h2 {
    color: #34495e;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  h3 {
    color: #2c3e50;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.75rem;
      list-style-type: disc;
    }
  }
}

.link {
  color: #34495e;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
