.main_layout {
    min-height: 100vh;
    background-color: #fff;
    margin-top: 80px;
    @media (max-width: 767px) {
        // margin-top: 48px;
    }
    &.innerPages {
        // margin-top: 95.75px;
        background-color: #fff;
    }
}