.home {
    min-height: calc(100vh - 97.75px);

    @media (max-width: 767px) {
        min-height: calc(70vh - 97.75px);
    }

    .back_layer {
        position: absolute;
        width: 100%;
        height: calc(100vh - 97.75px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
        @media (max-width: 767px) {
            height: calc(70vh - 97.75px);
        }
    }

    .video_box {
        position: relative;
        background-color: #a1a0a0;
        overflow: hidden;

        .video_div {
            width: 100%;
            height: calc(100vh - 97.75px);
            object-fit: cover;
            @media (max-width: 767px) {
                height: calc(70vh - 97.75px);
            }
        }

        .video_label {
            position: absolute;
            bottom: 0;
            width: 50%;
            right: 0;
            background-color: rgba(0, 64, 143, .8);
            color: #fff;
            font-size: 2rem;
            padding: 20px 50px;
            z-index: 99;
            @media (max-width: 767px) {
                bottom: inherit;
                top: 25%;
                background-color: transparent;
                left: 0;
                width: 100%;
                font-size: 18px;
                padding: 20px;
            }
        }
    }
}