.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cdc7c7;
  position: relative;
}

.navbar__logo img {
  height: 100px;
  padding: 10px;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar__menu li {
  padding: 10px;
}

.navbar__menu a {
  color: #00408f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar__menu a:hover {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
}

.navbar__menu .dropdown {
  cursor: pointer;
  position: relative;
}

/* Dropdown for Services */
.navbar__menu .dropdown .dropdownMenu {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 220px;
  z-index: 9999;
}

/* Dropdown for Categories */
.navbar__menu .dropdown .dropdownMenu {
  display: none;
  position: absolute;
  top: 60px;
  left: -700px;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  z-index: 9999;
}

.navbar__menu .dropdown:hover .dropdownMenu {
  display: block;
}

.navbar__menu .dropdownMenu li {
  padding: 10px;
}

.navbar__menu .dropdownMenu a {
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__menu .dropdownMenu a:hover {
  color: #004aad;
}

.navbar__menu .dropdownMenu .icon {
  font-size: 18px;
  color: #004aad;
}

.navbar__hamburger {
  display: none;
  font-size: 50px;
  color: #000000;
  cursor: pointer;
}

/* Mobile Menu */
@media (max-width: 1200px) {
  .navbar__menu {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }

  .desktopMenu {
    display: none;
  }
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
}

.sidebar ul li {
  padding: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #004aad;
}
