.header {

    // @media (min-width: 768px) {
    nav {
        background-color: transparent !important;
        border-bottom: 1px solid rgba(224, 224, 224, 0.5);
        transition: background-color 0.5s;
        &.scroll {
            background-color: #e5e5e5 !important;
            .header_links {
                ul {
                    .form{
                        background-color: #00408E;
                        border-radius: 50px;
                        border: 2px solid #00408E ;
                        a {
                            color: #fff !important;
                        }
                    }
                    margin: 2px;
                    .form:hover{
                        background-color: #e5e5e5;
                    }
                    li {
                        border-bottom: 2px solid #e5e5e5;
                        transition: .3s;
                    }
                    a {
                        color: #000!important;
                        font-family: sans-serif;
                    }
                    
                    li:hover{
                        border-bottom: 2px solid #00408E;
                        a {
                            color: #000!important;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
        }

        .header_container {
            @media (max-width: 767px) {
                .logo_box {
                    justify-content: space-between;
                    span {
                        width: 30%!important;
                    }
                    button{
                        color: #27257B !important;
                        border-color: #27257B !important;
                    }
                }
            }

            .logo_box {
                display: flex;

                span {
                    width: 180px;

                    img {
                        width: 100%;
                    }
                }
            }

            .header_links {
                justify-content: flex-end;
                
                .dropdown_menu{
                    width: 280px;
                    @media (max-width:767px) {
                        width: 100%;
                    }
                    li {
                        padding: 0;
                        a {
                            text-wrap: wrap;
                        }
                    }
                }

                ul {
                    li {
                        padding: 0 20px;
                        @media (max-width:1024px) {
                            padding: 0 10px;
                        }
                        @media (max-width:900px) {
                            padding: 0 5px;
                        }

                        a {
                            color: #fff;
                            &.active {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    // }
}