.container {
  width: 100vw;
  position: relative;
  margin-top: 75px;

}

.imageWrapper {
  width: 100vw;
  height: 250px; // Adjust height as needed
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}

// Mobile view adjustments
@media (max-width: 768px) {
  .imageWrapper {
    height: 100px; // Smaller height for mobile
    // width: 600px;
  }

  .text {
    font-size: 17px !important; // Smaller text on mobile
    top: 40px !important;
left: 10px !important;
// margin-top: 100px !important;
  }
}
