.h2{
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
font-family: sans-serif;
}
.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .contentWrapper {
    display: flex;
    max-width: 1400px;
    width: 100%;
    gap: 50px;
  }
  
  .contactInfo {
    flex: 1;
    text-align: left;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  
  .chatLink {
    color: blue;
    text-decoration: underline;
  }
  
  .contactForm {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .formFields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    background-color: white;
    width: 100%;
  }
  
  .nameFields {
    display: flex;
    gap: 10px;
    
  }
  
  .submitBtn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: rgb(31, 30, 30);
    }
  }
  
  .errorMessage {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
  }

  @media (max-width: 1200px) {
    .contentWrapper {
      justify-content: center;
    }
    .contactForm {
      width: 100%;
    }
  }


